body{
    margin: 0;
    font-family: sans-serif;
}

/*début header*/

header{
    
    /*background-color: orange;*/
    height: 150px;
    width: 100%;
    position: fixed;
    background-image: url(/images/marcel-strauss-DR3O0MICFYA-unsplash.jpg);
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    top: 0px;
    z-index: 1;
    
}

nav{
    
    /*background-color: cyan;*/
    display: flex;
    justify-content: flex-end;
    flex-wrap:nowrap;
    height: 100px;
    align-items: center;
    left:63%;
    right:50px;
    top: 20px;
    position: fixed;
    
   
    
   
}

div{
    
    border:none;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    /*background-color: antiquewhite;*/
    border-radius: 50%;
       
}

.acceuil{
    
    background-color: white;
     background-image: url(/logo/logo%20fleche%20retrour.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: totheleft 2s;
    transition: 0.2s;

    
    
}


.acceuil:hover{
    
    transform: scale(1.2);
    
}







h1{
    width:13em;
    margin:0;
    position: fixed;
    top: 30px;
    left:10em;
    text-transform: capitalize;
    font-size: 3em;
    color: #3d77a1;
    text-shadow: 3px 1px 1px #92b9da;
     animation: totheright 2.2s;
    animation-timing-function:cubic-bezier(0.33, 0.95, 0.58, 1);

    
}



h2{
    opacity: 0;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
    color: #34576d;
    
}

.acceuil h2 {
    
    padding-top: 30px;
    padding-bottom: 30px
}

.experienceperso h2{
    
     padding-top: 20px;
    padding-bottom: 25px;
    font-size: 14px;
   

}

.formations h2{
    
     padding-top: 30px;
    padding-bottom: 32px;
}

.competences h2{
    
     padding-top: 30px;
    padding-bottom: 32px;
    font-size: 14px;
}


.info h2{
    
     padding-top: 30px;
    padding-bottom: 32px
}

.contact h2{
    
     padding-top: 30px;
    padding-bottom: 30px
}


h2:hover{
    
    opacity: 1;
}

a:hover{
    text-decoration: none;
    color: black;
}

/*fin header*/


section{
    
/*    background-color: mediumvioletred;*/
    height: 1000px;
    width: 100%;
    padding-top: 150px;
    background-image: linear-gradient( to bottom, #bdd9ef,white );
   
}

article{
    
/*    background-color: aliceblue;*/
    margin: 30px auto 0 auto;
    height: 770px;
    width: 50%;
    letter-spacing: 1px;
    padding: 0 20px 0 20px ;
    color: #34576d;
    text-align: justify;
     perspective: 2000px;
    line-height: 25px
}
    
.imgdanse{
    height: 200px;
    width: 300px;
    display: flex;
    margin: 0 0 30px 0;
    box-shadow: 1px 5px 8px #92b9da, -1px -5px 8px #92b9da;
    transform: rotate(-5deg);
    animation: toright 4s;
    
}

.imgdanse:hover{
    
    
    transform: rotate(0)scale(2)translate(200px,100px);
    
}    

    

.sallerose{
    
    display: flex;
    height: 200px;
    width: 300px;
    margin: 30px 0 0 660px;
    box-shadow: 1px 5px 8px #92b9da, -1px -5px 8px #92b9da;
    transform: rotate(5deg);
    animation: toleft 4.5s;
}
 

.sallerose:hover{
    transform: rotate(0)scale(2)translate(-200px,-100px);
    
}



img{
    
    transition: 2s;
}

p{
    
    animation: apparition 3s;
    transition: 3s;
    
}

footer{
    
    height: 80px;
    width: 100%;
     background:linear-gradient(to top,#9fc6e5,white);

}


ul{
    
    display: flex;
    justify-content: space-around;
    
    
}

li{
    font-size: 0.8em;
    display: block;
 color:#34576d;
/* margin-top: 20px;*/
    
        
}

span{
    
   
/*   background-color: aqua;*/
    margin-right: 46%;
    margin-left: 46%;
    font-size:0.8em;
 color:#34576d;
     
}

    
/*animation titre H1*/

@keyframes totheright{
    
    
    0%{
        opacity: 0;
        transform: translate(-200px,0);
        
    }

    20%{
        
        opacity: 0;
    }
    
    
    100%{
        opacity: 1;
        transform: translate(0,0);
        
    }
}

/*Fin animation titre H1*/



/*animation des menus*/

@keyframes totheleft{
    
    0%{
        opacity: 0;
        transform: translate(500px,0)
      }
    
    50%{
        
        opacity: 0;
        
    }

    100%{
        
        opacity: 1;
        transform: translate(0,0);
        transform: translate(0,0)rotate(-360deg)
    }
       
}

/*Fin animation des menus*/


@keyframes apparition{
    
    0%{
        opacity: 0;
        transform:rotate3d(0,10,0,720deg)
      }
    
    30%{
        
        opacity: 0;
        
    }

    100%{
        
        opacity: 1;
        transform: rotate3d(0)
        
        
    }
       
}


@keyframes toright{
    
    0%{
        
        opacity: 0;
        transform: translate(-200px,0);
       
            
       
      }
    
    60%{
        
        opacity: 0;
        
    }

    100%{
        
        opacity: 1;
        
        
    }
       
}



@keyframes toleft{
    
    0%{
        
        opacity: 0;
        transform: translate(200px,0);
       
            
       
      }
    
    60%{
        
        opacity: 0;
        
    }

    100%{
        
        opacity: 1;
        
        
    }
       
}


