body{
    margin: 0;
    font-family: sans-serif;
}

/*début header*/

header{
    
    /*background-color: orange;*/
    height: 150px;
    width: 100%;
    position: fixed;
    background-image: url(/images/marcel-strauss-DR3O0MICFYA-unsplash.jpg);
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    top: 0px;
    z-index: 1;
    
    
}

nav{
    
    /*background-color: cyan;*/
    display: flex;
    justify-content: flex-end;
    flex-wrap:nowrap;
    height: 100px;
    align-items: center;
    left:63%;
    right:50px;
    top: 20px;
    position: fixed;
    
   
    
   
}

div{
    
    border:none;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    /*background-color: antiquewhite;*/
    border-radius: 50%;
       
}

.acceuil{
    
    background-color: white;
     background-image: url(/logo/acceuil%20logo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s;
    animation: totheleft 2s;
    
    
}

.acceuil:hover{
    
    transform: scale(1.2);
    
}

.experienceperso{
    
    background-image: url(/logo/experience%20perso%20icone.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    transition: 0.2s;
    animation: totheleft 2.5s;
}

.experienceperso:hover{
    
     transform: scale(1.2);
}

.formations{
    
    background-color: white;
    background-image: url(/logo/logo%20formation%20icone.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s;
    animation: totheleft 3s;
}
.formations:hover{
     transform: scale(1.2);
    
}

.competences{
    
    background-color: white;
    background-image: url(/logo/logo%20competences%20icone.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
     transition: 0.2s;
    animation: totheleft 3.5s;
}

.competences:hover{
    
     transform: scale(1.2);
}



.info{
    
    background-color: white;
    background-image: url(/logo/logo%20info%20icone.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s;
    animation: totheleft 4s;
}


.info:hover{
    
     transform: scale(1.2);
}


.contact{
    
    background-color: white;
    background-image: url(/logo/logo%20contact%20icone.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
     transition: 0.2s;
    animation: totheleft 4.5s;
    
}

.contact:hover{
    
     transform: scale(1.2);
}



h1{
    width:13em;
    margin:0;
    position: fixed;
    top: 30px;
    left:10em;
    text-transform: capitalize;
    font-size: 3em;
    color: #3d77a1;
    text-shadow: 3px 1px 1px #92b9da;
    animation: totheright 2.2s;
    animation-timing-function:cubic-bezier(0.33, 0.95, 0.58, 1)

    
}



h2{
    opacity: 0;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
    color: #34576d;
    
}

.acceuil h2 {
    
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
}

.experienceperso h2{
    
     padding-top: 20px;
    padding-bottom: 25px;
    font-size: 12px;
   

}

.formations h2{
    
     padding-top: 30px;
    padding-bottom: 32px;
    font-size: 12px;
}

.competences h2{
    
     padding-top: 30px;
    padding-bottom: 32px;
    font-size: 12px;
}


.info h2{
    
     padding-top: 30px;
    padding-bottom: 32px;
    font-size: 12px;
}

.contact h2{
    
     padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
        
}


h2:hover{
    
    opacity: 1;
     transition: 0.8s;
}

a:hover{
    text-decoration: none;
    color: black;
}

/*fin header*/


section{
    
    height: 1200px;
/*    width:1901px;*/
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-image: linear-gradient( to bottom, #bdd9ef,#bdd9ef, white );
/*    background-color: cadetblue;*/
  
    

    
    
    
}
.container{
   
    width: 1200px;
    height: 900px;
    border-radius: 0;
/*    border: solid 5px;*/
    margin-top: 200px;
    margin-left: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
        
  
}

.container div{
    
/*    border: solid 1px;*/
    border-radius:0;
    height: 200px;
    width: auto;
    margin: 0px 300px;
    box-shadow: 3PX -3PX 3PX #34576d8f,-3PX -3PX 3PX #34576d8f,3PX 3PX 3PX #34576d8f,-3PX 3PX 3PX #34576d8f;
    
      
}

h3{
    
    color:#3d77a1;
/*    margin-top: 100px;*/
    
    
}


h4{
    
    color: #3d77a1;
    text-transform: capitalize;
    margin-bottom: 15px;
    
}


h5{
    
    color: #3d77a1;
    text-transform: capitalize;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 5px;
}

h6{
    
    color: #3d77a1;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 12px;
    margin-top: 15px;
}

.liendetail{
    border-radius: 0;
    width: 100px;
    color: #3d77a1;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.3s;
    position: absolute;
    left: 900px;
    animation:apparition 3.5s;
    
}




.liendetail:hover{
    
    background-color:#d5e7f5b0 ;
    border-radius: 50%;
    font-size: 18px;
    color: #3d77a1;
    text-decoration: none;
    transform: scale(1.2);
    
}


.prepa{
    
    
    animation: tobottom 3s;
    
}


.magasinier{
    
    animation: tobottom 2.5s;
    
}

.employepoly{
    
    animation: tobottom 2s;
}


.magalivreur{
    
    animation: tobottom 1.5s;
}



footer{
    
    height: 80px;
    width: 100%;
     background:linear-gradient(to top,#9fc6e5,white);

}


ul{
    
    display: flex;
    justify-content: space-around;
    
    
}

li{
    font-size: 0.8em;
    display: block;
 color:#34576d;
/* margin-top: 20px;*/
    
        
}

span{
    
   
/*   background-color: aqua;*/
    margin-right: 46%;
    margin-left: 46%;
    font-size:0.8em;
 color:#34576d;
     
}






/*animation des div*/

@keyframes tobottom{
    
    0%{
        opacity: 0;
        transform: translate(0px, -500px)
        
    }
    
   
    50%{
              
        opacity: 0;
    }
        
    100%{
        
       opacity: 1
    }
    
}

/*fin animation des div*/


/*animation detail*/

@keyframes apparition{
        
    0%{
        
       opacity: 0;
    }
    
    90%{
        
        opacity: 0;
       }
    
    100%{
        
        opacity: 1;
        
        }
     
}


/*fin animation detail*/



/*animation titre H1*/

@keyframes totheright{
    
    
    0%{
        opacity: 0;
        transform: translate(-200px,0);
        
    }

    20%{
        
        opacity: 0;
    }
    
    
    100%{
        opacity: 1;
        transform: translate(0,0);
        
    }
}

/*fin animation titre H1*/

/*animation des menus*/

@keyframes totheleft{
    
    0%{
        opacity: 0;
        transform: translate(500px,0)
      }
    
    50%{
        
        opacity: 0;
        
    }

    100%{
        
        opacity: 1;
            transform: translate(0,0)rotate(-1080deg)
        
    }
       
}

/*fin animations menus*/

